absl-py==0.7.0
asn1crypto==0.24.0
astor==0.7.1
asyncio==3.4.3
CacheControl==0.12.5
cachetools==3.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
cognitive-face==1.4.2
cryptography==2.6.1
cycler==0.10.0
dlib==19.17.0
face-recognition==1.2.3
face-recognition-models==0.3.0
firebase-admin==2.16.0
Flask==1.0.2
Flask-Cors==3.0.7
gast==0.2.2
google-api-core==1.8.1
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-firestore==0.31.0
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
grpcio==1.16.1
h5py==2.8.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mkl-fft==1.0.0
mkl-random==1.0.1
msgpack==0.6.1
numpy==1.16.2
olefile==0.46
pandas==0.24.2
Pillow==5.4.1
protobuf==3.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
rsa==4.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==2.6.4
termcolor==1.1.0
torch==1.0.1.post2
torchvision==0.2.2
tornado==5.1.1
urllib3==1.24.1
websockets==7.0
Werkzeug==0.14.1
xgboost==0.82
